
<div itemscope itemtype="http://schema.org/Organization">
<div class="logo" itemprop="logo"><a itemprop="url" href="http://morrisonprinting.com"><%= image_tag 'Morrison_Kailey.png', alt: 'Morrison Printing + Creative Service, a Tampa based printer and graphic design company' %></a></div>
<div class="headimage">
  <div class="contact">
    <h1>Contact us</h1> 
    <ul class="fa-ul">
    <li itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><i class="fa-li fa fa-map-marker"></i> <span itemprop="streetAddress">4062 Henderson Blvd.</span> <br>
    <span itemprop="addressLocality">Tampa</span>, <span itemprop="addressRegion">FL</span> <span itemprop="postal">33629</span> </li>
    <li><i class="fa-li fa fa-mobile"></i> <span itemprop="telephone">813.230.9776</a> </li>
    <li><i class="fa-li fa fa-envelope-o"></i> <a href="mailto:info@morrisonprinting.com">email</a></li>
    </ul>
  </div>
</div>

<div class="maincontent">
  <div class="section group">
    <div class="col span_4_of_4">
            <h1>who we are</h1>
       <p><span itemprop="name">Morrison Printing + Creative Services</span> is based in Tampa, FL and is a boutique print studio. Started by Allison and Olivier De Meulder. Working with a team of talented creatives and printers, they are proud to serve the Tampa bay area and beyond. Whether shipping large orders to Fortune 500 companies, or helping a local restaurant owner redesign their menus, they are excited about the possibility to make a difference in businesses.
       </p>
    </div>
  </div>
  <div class="section group">
    <div class="col span_2_of_4">
      <h1>printing Services</h1>
       <ul class="fa-ul">
        <li><i class="fa-li fa fa-angle-double-right"></i>business cards</li>
        <li><i class="fa-li fa fa-angle-double-right"></i>brochures</li>
        <li><i class="fa-li fa fa-angle-double-right"></i>product catalogs</li>
        <li><i class="fa-li fa fa-angle-double-right"></i>restaurant menus</li>
       </ul> 
       <br>
       <p>Our equipment is state of the art. Our team is dedicated, and fanatical about attention to detail.</p>   
    </div>
    <div class="col span_2_of_4">
      <h1>creative services</h1>
       <ul class="fa-ul">
          <li><i class="fa-li fa fa-angle-double-right"></i>branding</li>
          <li><i class="fa-li fa fa-angle-double-right"></i>logo design</li>
          <li><i class="fa-li fa fa-angle-double-right"></i>brochure design</li>
          <li><i class="fa-li fa fa-angle-double-right"></i>restaurant menu design</li>
       </ul>
    </div>
  </div>

  <div class="section group">
    <div class="col span_4_of_4">
      <div class="testimonial">
        <h1>what people say</h1>
        <p><i class="fa fa-quote-left fa-2x pull-left"></i>Morrison printing designed our product catalog and we were truly impressed by the professionalism of the team. The quality of the finished product was sublime.<i class="fa fa-quote-right fa-2x pull-right"></i></p>
        <p class="testimonialauthor"></p>
      </div>
    </div>
  </div>

</div>

</div>