<!DOCTYPE html>
<html>
<head>
  <title>Morrison Printing + Creative Services: a Tampa based printer and graphic design company.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://plus.google.com/104777005423425592431" rel="publisher" />
</head>
<body>

<%= yield %>
<script type="text/javascript" async defer
  src="https://apis.google.com/js/platform.js?publisherid=104777005423425592431">
</script>
</body>
</html>
